{% extends 'base.html' %}
{% block title %}X-Wing Tournament Manager Guest Book{% endblock %}
{% block content %}
  <h1>Hello {{ name }}!</h1>
  <h2>Leave Feedback for X-Wing Tournament Manager:</h2>
  <form action="{{ url_for('post_feedback') }}" method="post" class="add-entry">
    <dl>
      <dt>Your Name:</dt>
      <dd><input type="text" size="30" name="name"></dd>
      <dt>Your Message:</dt>
      <dd><input type="text" size="70" name="message"></dd>
      <dd><input type="submit" value="Leave Feedback"></dd>
    </dl>
  </form>
  {% if messages %}
	  <h2>Previous Guests</h2>
	  <ul>
	  {% for message in messages %}
		<li>"{{ message.message }}" <strong>{{ message.name }}</strong></li>	
	  {% endfor %}
	  </ul>
  {% endif %}
{% endblock %}