{% extends 'base.html' %}
{% block title %}Login: X-Wing Tournament Manager{% endblock %}
{% block content %}
  <h2>Login:</h2>
  <form action="{{ url_for('login') }}" method="post" class="add-entry">
    <dl>
      <dt>Email:</dt>
      <dd><input type="text" size="70" name="email"></dd>
      <dt>Password:</dt>
      <dd><input type="text" size="70" name="password"></dd>
      <dd><input type="submit" value="Login"></dd>
    </dl>
  </form>
  {% if errormessage %}
	  <h2 class="login-error">{{errormessage}}</h2>
  {% endif %}
{% endblock %}