{% extends 'base.html' %}
{% block title %}Register: X-Wing Tournament Manager{% endblock %}
{% block content %}
  <h2>Register:</h2>
  <form action="{{ url_for('register') }}" method="post" class="add-entry">
    {{ form.hidden_tag() }}
    <dl>
      <dt>{{ form.email.label }}</dt>
      <dd>{{ form.email }}</dd>
	  <dt>{{ form.name.label }}</dt>
      <dd>{{ form.name }}</dd>
      <dt>{{ form.password.label }}</dt>
      <dd>{{ form.password }}</dd>
      <dd>{{ form.submit }}</dd>
    </dl>
  </form>
  {% if form.errors %}
	  <p class="error">Registration Errors</p>
	  <ul>
	  {% for error in form.errors %}
        <li><strong>{{ error }}</strong>{{ form.errors[error] }}</li>
	  {% endfor %}
	  </ul>
  {% endif %}
{% endblock %}